body {
    background-color: #f7f7ff;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #676767;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 #ccc;
}

header * {
    display: inline;
}

.logo {
    width: 50vw;
    float: left;
}

.nav-links {
    width: 50vw;
    float: right;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    color: #777;
    padding: 10px;
}

.nav-links ul li:not(:first-child) {
    border-left: 2px solid #eee;
}

.nav-links ul li a{
    color: #555;
    text-decoration: none;
}

section, footer, header {
    padding: 0 5vw;
}

section:first-of-type {
    margin-top: 90px;
}

.half-width {
    width: 50%;
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

footer * {
    margin-top: 20px;
}

hr {
    color: #c7c7c7c7;
}

.book-action-links {
    width: 35%;
}

.book-title {
    width: 65%;
}

.book-list>* {
    float: left;
    padding-top: 10px;
}

.book-list {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 7px;
    margin: 20px;    
}

.info span:not(:last-of-type)::after {
    content: ", ";
}

.login-form {
    width: 480px;
    margin: 120px auto;
    background-color: white;
    padding: 15px;
    box-shadow: 0 3px 7px 3px #ccc;
    border-radius: 5px;
}

#login-form {
    margin: 20px 5px;
    text-align: center;
}

#login-form input {
    width: 400px;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
}